



.homeContainer{
    background-color: #010001;
    background-image: url('./images/purple smoke.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    padding-left: 50px;
}


.introBox{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.introTitle{
    font-family: var(--font);
    font-size: 5rem;
    color: white;
    font-weight: 900;
    line-height: 85px;
    margin: 0px;
}

.introDesc{
    font-family: var(--font);
    font-size: 1.875rem;
    color: white;
    font-weight: 300;
    margin: 0px;
}

.credit, .creditLink{
    color: white;
    font-family: var(--font);
    font-size: 0.9375rem;
}

.credit{
    margin: 0px;
}

.creditLink:hover{
    color: grey;
    cursor: pointer;
}


.audio{
    margin: 0px;
}

.audioCredit{
    font-size: 0.9375rem;
    margin: 0px;
}

.audioLink, .audioCredit{
    color: white;
    font-family: var(--font);
}

.audioLink:hover{
    color: grey;
}

@keyframes iconAnimation{
    from {transform: translateY(-10px)}
    to {transform: translateY(10px)}
}

.scrollDown{
    color: white;
    font-family: var(--font);
    font-size: 1.875rem;
}

.icon{
    animation-name: iconAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@media (max-width: 1792px){
    .homeContainer{
        background-size: cover;
    }
}

@media (max-width: 500px){
    .introTitle{
        font-size: 3.125rem;
        line-height: 55px;
    }
    .introDesc{
        font-size: 1.5625rem;
    }

    .audio{
        width: 270px
    }
    .scrollDown{
        font-size: 1.5625rem;
    }
}