.container{
    background-image: url("./images/binary code.gif");
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 1000px;
    padding: 30px 0px;
}

.imageContainer{
    position: relative;
    width: 300px;
    height: 323px;
}

.selfImage{
    object-fit: contain;
    width: 400px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
}

.blackBox{
    background-color: black;
    width: 400px;
    height: 430px;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 1;
    transform: rotate(-10deg);
    transition: transform 0.2s ease-in;
}

.aboutMeContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aboutMeTitle{
    font-family: 'AbelFont';
    font-size: 60px;
    background-color: white;
    text-align: center;
}

.aboutMeDesc{
    font-family: 'AbelFont';
    font-size: 20px;
    width: 600px;
    background-color: white;
}

.resumeLink{
    text-align: center;
    font-family: "AbelFont";
    background-color: white;
    padding: 10px;
    color: blue;
    cursor: pointer;
}

.resumeLink:hover{
    color:grey;

}

@media (max-width: 1160px){
    .container{
        height: 800px;
        gap: 50px;
    }

    .selfImage{
        width: 300px;
    }
    .blackBox{
        width: 300px;
        height: 323px;
    }

    .aboutMeTitle{
        font-size: 40px;
    }

    .aboutMeDesc{
        font-size: 18px;
        width: 350px;
    }
}

@media (max-width: 775px){
    .container{
        height: auto;
        padding: 80px 0px;
        flex-direction: column;
    }
    .aboutMeTitle{
        text-align: center;
    }
}

@media(max-width: 430px){

    .selfImage{
        width: 250px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .blackBox{
        width: 250px;
        height: 269px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .aboutMeDesc{
        width: 300px;
    }
}