.message{
    color: white;
    font-family: 'AbelFont';
    font-size: 2rem;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    z-index: var(--eight-layer);
    margin: auto;
    pointer-events: none;

}

.message > img{
    width: 30px;
    object-fit: contain;
    transition: none;
}