.container{
    width: 100%;
    height: 100lvh;
    position: absolute;
    inset: 0;
    margin: auto;
}

.svg{
    width: 100%;
    height: 100%;
}

.ring{
    width: 50px;
}

.glowEffect{
    width: 70px;
}