.container{
    width: 1200px;
    height: 1240px;
    margin: 0px auto 100px auto;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, 220px);
    row-gap: 35px;
    column-gap: 10px;
}


@media(max-width: 1400px){
    .container{
        width: 90%;
    }
}


@media(max-width: 705px){
    .container{
        height: 1750px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 500px){
    .container{
        height: 3280px;
        grid-template-columns: 1fr;
    }
}