.container{
    background-image: url("./images/binary code.gif");
    width: 100%;
    margin: auto;
    height: 100vh;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 1150px;
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
}

.imageContainer{
    position: relative;
    width: 400px;
    height: 323px;
}

.selfImage{
    object-fit: contain;
    width: 400px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
}

.blackBox{
    background-color: black;
    width: 400px;
    height: 430px;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 1;
    transform: rotate(-10deg);
    transition: all 0.2s linear, transform 0.2s ease-in;
}

.aboutMeContainer{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aboutMeTitle{
    font-family: var(--font);
    font-size: 3.75rem;
    background-color: white;
    text-align: center;
}

.aboutMeDesc{
    font-family: var(--font);
    font-size: 1.25rem;
    background-color: white;
}

.resumeLink{
    text-align: center;
    font-family: var(--font);
    background-color: white;
    padding: 10px;
    color: blue;
    cursor: pointer;
}

.resumeLink:hover{
    color:grey;

}

@media(max-width: 1230px){
    .content{
        width: 90%;
    }
}

@media (max-width: 1160px){
    .container{
        height: 800px;
        gap: 50px;
    }

    .aboutMeContainer{
        width: 50%;
    }

    .aboutMeTitle{
        font-size: 2.5rem;
    }

    .aboutMeDesc{
        font-size: 1.125rem;
    }
}

@media(max-width: 850px){
    .content{
        flex-direction: column;
        gap: 70px;
    }

    .container{
        height: auto;
        padding: 80px 0px;
    }    

    .aboutMeContainer{
        width: 400px;
    }

    .imageContainer{
        width: 300px;
    }

    .selfImage{
        width: 300px;
    }
    .blackBox{
        width: 300px;
        height: 323px;
    }
    .aboutMeTitle{
        text-align: center;
    }

    .aboutMeContainer{
        width: 90%;
    }
}

@media(max-width: 500px){
    .imageContainer{
        width: 250px;
    }

    .content{
        gap: 40px;
    }

    .selfImage{
        width: 250px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .blackBox{
        width: 250px;
        height: 269px;
        left: 0;
        right: 0;
        margin: auto;
    }
}

