.container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.svg{
    width: 100%;
    height: 100%;
}

.group, .chain{
    transform-origin: top center !important;
}

.moon{
    transition: all 0.9s linear;
    color: #0400ff00
}