.containerOne, .containerTwo{
    width: 800px;
    height: 500px;
    position: fixed;
    inset: 0;
    margin: auto;
    font-family: 'AbelFont';
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    z-index: var(--sixth-layer);
    color: transparent;  
    mask-repeat: no-repeat;
    mask-position: 0px -600px
}

.containerOne{
    mask-image: linear-gradient(to bottom, transparent 0%, white 50%, transparent 100%); 
    background: linear-gradient(45deg, rgba(7, 0, 99, 1) 0%, rgba(4, 0, 255, 1) 22%, rgba(0, 157, 189, 1) 50%, rgba(4, 0, 255, 1) 80%, rgba(7, 0, 99, 1) 100%);     
    background-size: 100% 100%;
    background-repeat: repeat;    
    background-clip: text;
}

.containerTwo{
    mask-image: linear-gradient(to bottom, transparent 0%, white 50%, transparent 100%); 
    background-color: white;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-clip: text;
}

.containerOne > span, .containerTwo > span{
    font-weight: 1000;
    font-style: italic;
}

.containerOne::first-letter, .containerTwo::first-letter{
    font-weight: 900;
    font-size: 2.3rem;
}


@media(max-width: 870px){
    .containerOne, .containerTwo{
        width: 90%;
        font-size: 1.4rem;
        line-height: 35px;
    }
}

@media(max-width: 650px){
    .containerOne, .containerTwo{
        font-size: 1.2rem;
        line-height: 30px;
        height: 600px;
    }
}

@media(max-width: 440px){
    .containerOne, .containerTwo{
        height: 700px;
    }
}

@media(max-width: 380px){
        .containerOne, .containerTwo{
        height: 740px;
    }
}