@font-face{
    font-family: "AbelFont";
    src: url(./CustomFonts/Nunito-VariableFont_wght.ttf);
}

html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}


*{
    padding: 0px;
    margin: 0px;
    transition: all 0.2s linear;
}

/* ::-webkit-scrollbar will change the styling of the scroll bar's background*/
::-webkit-scrollbar{
    background-color: black;                               
    width: 12px;                                             /* affects the vertical scrollbar*/
}

/* ::-webkit-scrollbar-thumb will change the styling of the thumb for the scroll bar*/
::-webkit-scrollbar-thumb{
    background-color: rgb(48, 0, 106);
    border-radius: 14px;
}
