.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
}

.formContainer{
    background-color: grey;
    padding: 50px;
}

.title{
    display: block;
    width: 300px;
    text-align: center;
    font-family: "AbelFont";
    color: white;
    font-size: 40px;
    font-weight: 900;
    margin: auto;
    padding-bottom: 20px;
}

.name, .email, .body{
    background-color: white;
}

.body{
    width: 400px;
}