.title{
    width: 100%;
    height: 150px;
    text-align: center;
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: var(--fourth-layer);
    transition: none;
    color: white;
    font-family: 'AbelFont';
    font-size: 7rem;
    font-weight: 800;
}


.smallerTitle{
    width: 100%;
    height: 100px;
    text-align: center;
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: var(--fourth-layer);
    transition: none;
    color: white;
    font-family: 'AbelFont';
    font-size: 4rem;
    font-weight: 800;
}

@media(max-width: 800px){
    .title{
        font-size: 3.5rem;
    }

    .smallerTitle{
        font-size: 2.5rem;
    }
}