.homeContainer{
    background-color: black;
    background-image: url('./images/purple smoke.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 900px;
    border: 1px solid transparent;
    position: relative;
}


.introBox{
    width: 400px;
    margin: 250px 50px;
}

.introTitle{
    font-family: "AbelFont";
    font-size: 80px;
    color: white;
    font-weight: 900;
}

.introDesc{
    font-family: "AbelFont";
    font-size: 30px;
    color: white;
    font-weight: 300;
}

.credit, .creditLink{
    color: white;
    font-family: "AbelFont";
    font-size: 15px;
}

.credit{
    margin-top: 30px;
}

.creditLink:hover{
    color: grey;
    cursor: pointer;
}

#audio{
    position: absolute;
    bottom: 200px;
    left: 30px;
}

.audioCredit{
    position: absolute;
    bottom: 290px;
    left: 50px;
    font-size: 15px;
}

.audioLink, .audioCredit{
    color: white;
    font-family: "AbelFont";
}

.audioLink:hover{
    color: grey;
}

@keyframes iconAnimation{
    from {transform: translateY(-10px)}
    to {transform: translateY(10px)}
}

.scrollDown{
    position: absolute;
    bottom: 80px;
    left: 50px;
    color: white;
    font-family: "AbelFont";
    font-size: 30px;
}

.icon{
    animation-name: iconAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@media (max-width: 1618px){
    .homeContainer{
        background-size: cover;
    }
}

@media (max-width: 500px){
    .introTitle{
        font-size: 50px;
    }
    .introDesc{
        font-size: 25px;
    }

    .audioCredit{
        bottom: 350px;
    }
    #audio{
        bottom: 250px;
    }

}