.container{
    width: 255px;
    height: 255px;
    position: absolute;
    inset: 0;
    margin: auto;
}

.svg{
    width: 100%;
    height: 100%;
    overflow: visible;
}

@media(max-width: 920px){
    .container{
        width: 28%;
        height: 28vw;
    }
}