.container{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: var(--fourth-layer);
    will-change: viewBox, contents;
    transition: all 0s;
}

.container > g{
    will-change: transform, contents;
    transition: all 0s;
}