.content{
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.title{
    color: white;
    font-family: 'AbelFont';
    font-size: 2rem;
}

.progress{
    width: 350px;
    height: 30px;
    padding: 7px;
    border-radius: 15px;
    background-color: darkblue;
}

.progress_bar{
    height: 100%;
    background-color: #0000ff;
    border-radius: 15px;
}

.progress_percent{
    color: white;
    font-family: 'AbelFont';
    font-size: 2rem;
}

@media(max-width: 750px){
    .title{
        font-size: 1.5rem;
    }

    .progress_percent{
        font-size: 1.5rem;
    }

    .progress{
        width: 330px;
        height: 25px;
    }
}