.container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: none;
}

.svg{
    width: 100%;
    height: 100%;
}

.group{
    transform-origin: center -3px !important;
}