.container{
    width: 1200px;
    height: 6000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 35px;
    justify-content: start;
    align-content: start;
    justify-items: center;
    align-items: center;
    margin: 0px auto 35px auto;
    overflow: hidden;
}

@media(max-width: 1400px){
    .container{
        width: 90%;
    }
}

@media(max-width: 705px){
    .container {
        height: 8694px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: initial;
    }
}

@media(max-width: 500px){
    .container {
        height: 17400px;
        grid-template-columns: 1fr;
    }
}