.container{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 700px;
    margin: 30px auto;
}

.title, .desc{
    font-family: "AbelFont";   
    color: white;
}

.title{
    text-align: center; 
    font-size: 60px;
    font-weight: 900;
}

.desc{
    font-size: 20px;
    font-weight: 600;
}

.greyBox{    
    grid-column: 1/4;
    background-color: grey;
    padding: 50px;
}

.disclaimer{
    font-family: "AbelFont";
    color: white;
    grid-column: 1/4;
    background-color: grey;
    padding: 50px;
}

.loadingIcon{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 20%;
}

.projectContainer{
    padding: 20px;
}

.imageLink{
    cursor: pointer;
}

.projectImage{
    object-fit: contain;
    width: 200px;
}