.container{
    width: 100%;
    border: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    transition: none;
    position: relative;
}

.label{
    font-family: 'AbelFont';
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
}

.error_message{
    align-self: start;
    margin-top: 10px;
    font-family: 'AbelFont';
    color: red;
    font-size: 1rem;
    font-weight: 300;
}


.textarea{
    width: 100%;
    height: 160px;
    padding: 15px 0px 0px 15px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #0400ff;
    font-family: 'AbelFont';
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
    resize: none;
}


.textarea:focus{
    outline: none;
    border-width: 4px;
}


@media(max-width: 600px){
    .label{
        font-size: 1.2rem;
    }
}