.container{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    z-index: var(--third-layer);
    transform-style: preserve-3d;
}

.wrapper{
    cursor: pointer;
}

.title{
    font-family: 'AbelFont';
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0px;
    color: white;
    text-align: center;
    pointer-events: none;
}


.mask{
    width: 200px;
    height: 166px;
    mask-image: url('./images/image-mask.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center center;
    cursor: pointer;
}

.image{
    width: 200px;
    object-fit: contain;
    cursor: pointer;
}
