.text{
   width: 77px;
   height: 1078px;
   font-family: 'AbelFont';
   font-size: 3.5rem;
   font-weight: 600; 
   color: #0400ff;
   writing-mode: vertical-rl; /* or vertical-lr */
   text-orientation: upright;
}